.wrapper {
	padding-top: 5rem;
	padding-bottom: 5rem;
	background-color: var(--ul-white);
}

.container {
	display: flex;
	flex-direction: column;
	gap: 5rem;
	width: 1330px;
	max-width: 90%;
	margin: auto;
}

.imgContainer {
	position: relative;
	width: 50%;
	height: 500px;
	background-image: url('/content/blob-haikei.svg');
	background-position: center;
	background-size: contain;
	background-repeat: no-repeat;
}

.contentContainer {
	display: flex;
	align-items: center;
	width: 100%;
}

.contentContainer p {
	color: var(--ul-black);
	line-height: 2;
}

.contentContainer button {
	width: 200px;
	padding: 10px 20px;
	border-radius: 20px;
	background: linear-gradient(to right, #2e3191, #1b75bb);
	text-transform: uppercase;
}

.textContainer {
	display: flex;
	flex-direction: column;
	gap: 20px;
	width: 50%;
}

.contentContainer:last-child {
	flex-direction: row-reverse;
}

@media screen and (max-width: 768px) {
	.contentContainer {
		flex-direction: column;
	}

	.imgContainer {
		width: 100%;
		height: 300px;
	}

	.textContainer {
		width: 100%;
	}

	.contentContainer:last-child {
		flex-direction: column;
	}
}
