.wrapper {
	display: flex;
	flex-direction: column;
	gap: 20px;
	width: 1330px;
	max-width: 95%;
	margin: auto;
	padding-top: 5rem;
	padding-bottom: 5rem;
}

.wrapper > div {
	display: flex;
	gap: 50px;
	align-items: center;
	justify-content: space-between;
}

.wrapper h2 {
	padding-bottom: 1rem;
}

.imgContainer {
	position: relative;
	width: 33.3%;
	height: 100px;
}

.wrapper img {
	opacity: 0.3;
	filter: grayscale(100%);
	cursor: pointer;
	transition: all 0.3s ease-in-out;
}

.wrapper img:hover {
	opacity: 1;
	filter: none;
}

@media screen and (max-width: 768px) {
	.wrapper > div {
		flex-direction: column;
	}

	.imgContainer {
		width: 100%;
		height: 80px;
	}

	.wrapper h2 {
		text-align: center;
	}
}
