.wrapper {
	padding-top: 5rem;
	padding-bottom: 5rem;
	background-color: var(--ul-light-blue);
}

.container {
	display: flex;
	flex-direction: column;
	gap: 5rem;
	width: 1330px;
	max-width: 90%;
	margin: auto;
}

.title {
	text-align: center;
}

.title p {
	color: var(--ul-gray);
}

.imgContainer {
	position: relative;
	display: flex;
	width: 100%;
	height: 220px;
}

.storyGrid {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
	gap: 20px;
	width: 100%;
}

.storyItem {
	display: flex;
	flex-direction: column;
	gap: 10px;
	align-items: left;
	justify-content: left;
	padding: 10px;
}

.storyItem button {
	width: 150px;
	padding: 10px 20px;
	border: 2px solid var(--ul-blue);
	border-radius: 25px;
	background-color: transparent;
	color: var(--ul-blue);
}

.storyItem h4 {
	color: var(--ul-black);
	font-weight: 400;
	font-size: 1.2rem;
}

.storyItem p {
	color: var(--ul-gray);
}

@media screen and (max-width: 762px) {
	.imgContainer {
		height: 280px;
	}
}
