.wrapper {
	padding-top: 5rem;
	padding-bottom: 5rem;
	background-color: var(--ul-light-blue);
}

.container {
	display: flex;
	flex-direction: column;
	gap: 5rem;
	width: 1330px;
	max-width: 90%;
	margin: auto;
}

.container div {
	width: 100%;
}

.container h4 {
	color: var(--ul-blue);
	font-weight: 400;
}

.container h3 {
	margin-bottom: 0.5rem;
	color: var(--ul-black);
	font-weight: 500;
	font-size: 1.2rem;
}

.container p {
	color: var(--ul-black);
}

.featuresContainer {
	display: flex;
}

.featuresGrid {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(347px, 1fr));
	gap: 20px;
	width: 100%;
}

.gridItem {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	padding: 10px 10px 50px;
	border-radius: 10px 10px 10px 80px;
	background-color: var(--ul-white);
	text-align: center;
	filter: drop-shadow(0 24px 15px rgb(0 0 0 / 15.2%));
	transition: transform 0.15s ease-in-out;
}

.gridItem:hover {
	transform: translateY(-5px);
}

.gridItem p {
	color: var(--ul-gray);
}

.imgContainer {
	position: relative;
	display: block;
	width: 100%;
	height: 150px;
}

@media screen and (max-width: 768px) {
	.featuresGrid {
		gap: 50px;
	}

	.featuresContainer {
		display: flex;
		flex-direction: column;
		gap: 20px;
		text-align: center;
	}
}
